# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
outputfile

.DS_Store
lib_managed/
project/boot/
project/build/target/
target/
src_managed/
project/plugins/project/
.idea/
.bsp
logs
target
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
sbt-cache
sbt-cache/*
.gitconfig
test/project/target
test/target
.bsp
test/.bsp